<p>
  <strong>name:</strong>
  <%= @milestone.name %>
</p>
<p>
  <strong>distance:</strong>
  <%= @milestone.distance %>
<p>
<p>
  <strong>photo_url:</strong>
  <%= @milestone.photo_url %>
</p>
   <%= link_to 'Milestone', milestones_path %>